#footerBox {
    width: 100%;
    display: flex;
}

#footerBox a {
    text-decoration: none;
    font-family: 'Keep Calm';
    color: var(--TXTcolor)
}

#leftBox {
    grid-area: 1;
}

#midBox {
    grid-area: 2;
}

#rightBox {
    grid-area: 3;
}

