
.undervisning-box img {
    margin: 10%;
    max-width: 20%;
    
}

.undervisning-box {
    display: flex;
}

.undervisning-img {
    display: flex;
    align-items: center;
}

.undervisning-teskt {
    display: flex;
    flex-direction: column;
    margin: 10%;
    
}

.teskt-box {
    margin: 10%;
}

div.undervisning-tekst {
    display: flex;
    margin: 10%;
}