
#headerHead {
  width: 100%;

padding:0;
margin: 0;
}

#logoTop {
  grid-area: logo;
  width: 20%;
  height: 20%
}


@media screen and (max-width: 350px) {
  
  #bNav {
    display: content;
  }

  #wNav {
    display: none;
  }



 }



@media screen and (min-width: 351px) {
  
  #bNav {
    display: none;
  }

  #wNav {
    display: contents;
  }



 }
