 
#heroVideo {
    width: calc(90% - 4px);
    height: 90vh;
    border: 2px solid white;
    text-align: center;
    padding: 0;
    margin: 0;    
    position: relative;
        top: 0;
        left: 0;
    padding-bottom: 90vh;
}

